/* Genel Form Alanı */

.FormPizza {
    background-color: white;
    /* Formun arka planı beyaz */
}


/* Pizza Sipariş Formu Genel Stili */

.form-pizza {
    font-family: Barlow;
    /* Yazı tipi Barlow */
    max-width: 38rem;
    /* Maksimum genişlik 38rem */
    margin: 0 auto;
    /* Ortalanmış form */
    padding: 1.25rem;
    /* İç boşluk */
    background-color: white;
    /* Beyaz arka plan */
}


/* İsim Alanı */

.form-group-name {
    margin-bottom: 1.5rem;
    /* İsim alanının alt kısmında boşluk */
}

.form-group-name input[type="text"] {
    background-color: #FAF7F2;
    /* Açık bej arka plan */
    width: 100%;
    /* Tam genişlik */
    padding: 0.625rem;
    /* İç boşluk */
    border: 0.063rem solid #ddd;
    /* Hafif gri kenarlık */
    border-radius: 0.313rem;
    /* Yumuşak köşeler */
    margin-bottom: 1.5rem;
    /* Alanın alt kısmında boşluk */
}


/* Etiket Stili */

label {
    display: block;
    /* Etiket blok elemanı */
    font-weight: bold;
    /* Kalın yazı tipi */
    margin-bottom: 0.313rem;
    /* Alt boşluk */
}


/* Giriş Alanı Başlığı */

legend {
    color: #5F5F5F;
    /* Başlık rengi gri */
    font-size: 1rem;
    /* Başlık boyutu */
}


/* Zorunlu Alan Göstergesi */

label span {
    color: red;
    /* Zorunlu alan göstericisi kırmızı */
}


/* Boyut Seçimi ve Hamur Seçimi Yan Yana */

.row-size-dough {
    display: flex;
    /* Flexbox ile hizalama */
    justify-content: space-between;
    /* Öğeler arasında eşit mesafe */
    align-items: center;
    /* Dikey hizalama */
    margin-bottom: 1.5rem;
    /* Alt boşluk */
}


/* Boyut Seçenekleri */

.size-options {
    display: flex;
    /* Flexbox ile yatay düzen */
    flex-direction: column;
    /* Dikey düzen */
    gap: 0.625rem;
    /* Öğeler arasına boşluk ekle */
}

.size-options p {
    display: block;
    /* Metin bloğu */
    font-weight: bold;
    /* Kalın yazı tipi */
    margin-bottom: 0.313rem;
    /* Alt boşluk */
}

.row-size {
    display: flex;
    /* Boyut seçeneklerini yatay düzenle */
}


/* Boyut Seçeneklerindeki Etiketler */

.size-options label {
    display: flex;
    /* Flexbox ile hizalama */
    align-items: center;
    /* Dikey hizalama */
    justify-content: center;
    /* Yatay hizalama */
    padding: 0.625rem;
    /* İç boşluk */
    border: 0.063rem solid #ddd;
    /* Gri kenarlık */
    border-radius: 50%;
    /* Yuvarlak kenarlar */
    cursor: pointer;
    /* Tıklanabilir işareti */
    background: #FAF7F2;
    /* Açık bej arka plan */
    width: 2.5rem;
    /* Genişlik */
    height: 2.5rem;
    /* Yükseklik */
    margin-right: 0.625rem;
    /* Sağ boşluk */
}


/* Boyut Seçeneği Seçili Olduğunda Stil */

.size-options input[type="radio"]:checked+label {
    background: #FFEECC;
    /* Seçilen boyutun arka plan rengi */
    border-color: #FFEECC;
    /* Seçilen boyutun kenarlık rengi */
}


/* Hamur Seçimi */

.form-group-dough {
    display: flex;
    /* Flexbox ile hizalama */
    flex-direction: column;
    /* Dikey düzen */
    justify-content: flex-start;
    /* Başlangıçta hizala */
    width: 50%;
    /* Yarım genişlik */
}


/* Malzeme Seçenekleri */

.ingredient-options {
    margin-bottom: 1.5rem;
    /* Alt boşluk */
}

.ingredient-options label {
    display: flex;
    /* Flexbox ile hizalama */
    align-items: center;
    /* Dikey hizalama */
    cursor: pointer;
    /* Tıklanabilir işareti */
}

.ingredient-options-box {
    display: grid;
    /* Grid düzeni */
    grid-template-columns: repeat(3, 1fr);
    /* 3 sütunlu grid */
    gap: 0.625rem;
    /* Hücreler arasında boşluk */
    background: white;
    /* Beyaz arka plan */
    color: #FAF7F2;
    /* Açık bej metin rengi */
}

.ingredient-options p {
    font-size: 1rem;
    /* Metin boyutu */
    color: #5F5F5F;
    /* Gri metin rengi */
}

.row-ingredient {
    display: flex;
    /* Flexbox ile hizalama */
    align-items: center;
    /* Dikey hizalama */
    gap: 0.625rem;
    /* Elemanlar arasında boşluk */
}

.row-ingredient input[type="checkbox"] {
    appearance: none;
    /* Varsayılan stil yok */
    width: 1.5rem;
    /* Genişlik */
    height: 1.5rem;
    /* Yükseklik */
    background-color: #FAF7F2;
    /* Arka plan rengi */
    border: 0.125rem solid #ccc;
    /* Kenarlık */
    border-radius: 0.188rem;
    /* Yumuşak köşeler */
    cursor: pointer;
    /* Tıklanabilir işareti */
    position: relative;
    /* Tik işareti yerleştirme */
}


/* Malzeme Seçeneği Seçili Olduğunda Stil */

.row-ingredient input[type="checkbox"]:checked {
    background-color: #ffc107;
    /* Seçili olduğunda arka plan rengi */
}


/* Tik işareti için stil */

.row-ingredient input[type="checkbox"]:checked::after {
    content: '\2714';
    /* Tik işareti Unicode karakteri */
    position: absolute;
    bottom: 0.05rem;
    /* Alt konum */
    left: 0.2rem;
    /* Sol konum */
    font-size: 1rem;
    /* Font büyüklüğü */
    color: black;
    /* Tik işareti rengi */
}


/* Sipariş Notu */

textarea {
    width: 100%;
    /* Tam genişlik */
    height: 3.75rem;
    /* Yükseklik */
    padding: 0.625rem;
    /* İç boşluk */
    border: 0.063rem solid #ddd;
    /* Kenarlık */
    border-radius: 0.313rem;
    /* Yumuşak köşeler */
    background-color: #FAF7F2;
    /* Arka plan rengi */
    margin-bottom: 1.5rem;
    /* Alt boşluk */
}


/* Sayaç ve Sipariş Özeti */

.price {
    display: flex;
    /* Flexbox ile hizalama */
    justify-content: space-between;
    /* Öğeler arasında eşit mesafe */
    align-items: center;
    /* Dikey hizalama */
    gap: 1.25rem;
    /* Öğeler arasında boşluk */
    margin-top: 1.5rem;
    /* Üst boşluk */
}


/* Sayaç */

.quantity {
    display: flex;
    /* Flexbox ile yatay hizalama */
    flex-direction: row;
    /* Yatay yön */
    align-items: center;
    /* Dikey hizalama */
    justify-content: space-between;
    /* Öğeler arasında eşit mesafe */
    border: 0.063rem solid #D9D9D9;
    /* Gri kenarlık */
    border-radius: 0.313rem;
    /* Yumuşak köşeler */
}

.quantity button {
    width: 2.5rem;
    /* Genişlik */
    height: 2.5rem;
    /* Yükseklik */
    border: 0.063rem solid #D9D9D9;
    /* Gri kenarlık */
    background: #ffc107;
    /* Arka plan rengi */
    color: white;
    /* Beyaz yazı rengi */
    font-size: 1.125rem;
    /* Yazı boyutu */
    border-radius: 0.313rem;
    /* Yumuşak köşeler */
    cursor: pointer;
    /* Tıklanabilir işareti */
}

.quantity span {
    padding: 0 1.25rem;
    /* Sol ve sağ boşluk */
    font-size: 1.125rem;
    /* Yazı boyutu */
}


/* Sipariş Özeti */

.order-summary {
    flex: 1;
    /* Esnek genişlik */
    background: #FAF7F2;
    /* Açık bej arka plan */
    padding: 2rem;
    /* İç boşluk */
    border: 0.063rem solid #5F5F5F80;
    /* Gri kenarlık */
    border-radius: 0.313rem;
    /* Yumuşak köşeler */
    min-height: 10rem;
    /* Minumum yükseklik */
}

.order-summary p {
    font-weight: bold;
    /* Kalın yazı tipi */
    margin-bottom: 0.625rem;
    /* Alt boşluk */
}


/* Sipariş Özeti Alt Bölümleri */

.smmry-choose,
.smmry-total {
    display: flex;
    /* Flexbox ile hizalama */
    justify-content: space-between;
    /* Öğeler arasında eşit mesafe */
}

.smmry-total {
    color: red;
    /* Toplam fiyat kırmızı */
}


/* Gönderim Butonu */

.submit-button {
    width: 100%;
    /* Tam genişlik */
    background: #ffc107;
    /* Sarı arka plan */
    color: black;
    /* Siyah yazı rengi */
    font-size: 1rem;
    /* Yazı boyutu */
    padding: 0.625rem;
    /* İç boşluk */
    border: none;
    /* Kenarlık yok */
    border-radius: 0.313rem;
    /* Yumuşak köşeler */
}


/* Hata Mesajları */

.invalid-feedback {
    display: block;
    /* Blok olarak göster */
    margin-top: 0.313rem;
    /* Üst boşluk */
    font-size: 0.9rem;
    /* Yazı boyutu */
    color: red;
    /* Kırmızı yazı rengi */
}