/* Genel container, içeriği ortalamak ve kırmızı arka plan uygulamak için */

.assent {
    background-color: #CE2829;
    /* Kırmızı arka plan */
    display: flex;
    /* Flexbox kullanarak düzenleme */
    flex-direction: column;
    /* İçerikleri dikey olarak sıralama */
    justify-content: center;
    /* Dikeyde ortalama */
    align-items: center;
    /* Yatayda ortalama */
}


/* Sarı renkte metin için stil */

.yellowText {
    font-family: Satisfy;
    /* Satisfy fontu */
    font-size: 2rem;
    /* Font büyüklüğü */
    color: #FDC913;
    /* Sarı renk */
}


/* Başlık stilini tanımlar */

h1 {
    font-size: 2rem;
    /* Font büyüklüğü */
    color: #FFFFFF;
    /* Beyaz renk */
    line-height: 6rem;
    /* Satır yüksekliği */
    font-family: Roboto Condensed;
    /* Roboto Condensed fontu */
    font-weight: 400;
    /* Font ağırlığı */
}


/* Yatay çizgi için stil */

.horizontal-line {
    width: 70%;
    /* Yatay çizginin genişliği */
    height: 2px;
    /* Yükseklik */
    background-color: white;
    /* Beyaz renk */
    margin: 1.25rem 0;
    /* Üst ve alt boşluk */
}


/* Pizza adını tanımlar, büyük ve belirgin yapar */

.pizzaName {
    font-size: 1.5rem;
    /* Font büyüklüğü */
    color: #FFFFFF;
    /* Beyaz renk */
    font-family: Barlow;
    /* Barlow fontu */
    font-weight: bold;
    /* Kalın font */
}


/* Sipariş detaylarını içeren kutu */

.order-detail {
    width: 14rem;
    /* Genişlik */
    height: 10rem;
    /* Yükseklik */
    display: flex;
    /* Flexbox düzeni */
    flex-direction: column;
    /* Dikey sıralama */
    margin: 2rem 0;
    /* Üst ve alt boşluk */
}


/* Sipariş detaylarındaki paragraflar için stil */

.order-detail p {
    font-family: Barlow;
    /* Barlow fontu */
    font-size: 1rem;
    /* Font büyüklüğü */
    color: #FFFFFF;
    /* Beyaz renk */
}


/* Ödeme bölümünü tanımlar */

.payment {
    display: flex;
    /* Flexbox düzeni */
    flex-direction: column;
    /* Dikey sıralama */
    border: 1px solid #FFFFFF;
    /* Beyaz border */
    margin: 5rem auto;
    /* Üstten ve alttan büyük boşluk, yatayda ortalama */
    padding: 2rem;
    /* İç boşluk */
    width: 22rem;
    /* Genişlik */
    height: 13rem;
    /* Yükseklik */
    gap: 1rem;
    /* Çocuk elemanlar arasındaki boşluk */
}


/* Ödeme bölümündeki paragraflar için stil */

.payment p {
    color: #FFFFFF;
    /* Beyaz renk */
    font-weight: bold;
    /* Kalın font */
}


/* Seçim ve toplamları gösteren satırlar */

.chooser,
.totals {
    display: flex;
    /* Flexbox düzeni */
    flex-direction: row;
    /* Yatay sıralama */
    justify-content: space-between;
    /* Elemanlar arasına boşluk bırakma */
    color: #FFFFFF;
    /* Beyaz renk */
}