#root {
    max-width: 1280px;
    /* Maksimum genişlik 1280px ile sınırlı */
    margin: 0 auto;
    /* Yatayda ortalanmış */
    padding: 2rem;
    /* İçeride 2rem'lik boşluk bırakılır */
    text-align: center;
    /* Metin ortalanır */
}

.logo {
    height: 6em;
    /* Logo yüksekliği 6em */
    padding: 1.5em;
    /* Logo etrafında 1.5em'lik iç boşluk */
    will-change: filter;
    /* Animasyonun optimizasyonu için filtre değişimi bekleniyor */
    transition: filter 300ms;
    /* Filtre değişimi için 300ms'lik geçiş efekti */
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
    /* Hover durumunda logo etrafında mavi renkli gölge efekti */
}

.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
    /* React logosu üzerinde hover durumu, mavi tonunda bir gölge efekti */
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
        /* Başlangıçta 0 derece döner */
    }
    to {
        transform: rotate(360deg);
        /* 360 derece döner */
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
        /* İkinci linkteki logo sürekli döner, 20 saniyede bir döngü tamamlanır */
    }
}

.card {
    padding: 2em;
    /* Kart içinde 2em'lik iç boşluk bırakılır */
}

.read-the-docs {
    color: #888;
    /* 'Read the docs' metninin rengi gri tonlarında ayarlanır */
}